{% extends "base.html" %}

{% block title %}Contactanos{% endblock %}
{% block content %}
<style type="text/css">
    .errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
    <h1>Contactanos</h1>
    {% if form.errors %}
        <p style="color: red">Por favor corrige lo siguiente:</p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Enviar">
    </form>

{% endblock %}